
@{
    ViewBag.Title = "Success";
}
<div style="background-color: white; padding: 20px;">
    <h2>Success</h2>
    <h5>Thank you for ordering the movies with us. We hope you will come back again!</h5>
</div>