@using MovieShopBackend.Entities
@model MovieShopUser.Models.GenreMovieViewModel

@{
    ViewBag.Title = "MovieShop";
}

<main class="container">
    <section class="filmes" id="filmes">
        <h2>Featured Movies</h2>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <article class="card">
                    <header class="title-header">
                        <h3>Movie Title</h3>
                    </header>
                    <div class="card-block">
                        <div class="img-card">
                            <img src="https://placehold.it/300x250&text=Movie" alt="Movie" class="w-100" />
                        </div>
                        <p class="tagline card-text text-xs-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="#" class="btn btn-primary btn-block"><i class="fa fa-eye"></i> Watch Now</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <article class="card">
                    <header class="title-header">
                        <h3>Movie Title</h3>
                    </header>
                    <div class="card-block">
                        <div class="img-card">
                            <img src="https://placehold.it/300x250&text=Movie" alt="Movie" class="w-100" />
                        </div>
                        <p class="tagline card-text text-xs-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="#" class="btn btn-primary btn-block"><i class="fa fa-eye"></i> Watch Now</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <article class="card">
                    <header class="title-header">
                        <h3>Movie Title</h3>
                    </header>
                    <div class="card-block">
                        <div class="img-card">
                            <img src="https://placehold.it/300x250&text=Movie" alt="Movie" class="w-100" />
                        </div>
                        <p class="tagline card-text text-xs-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="#" class="btn btn-primary btn-block"><i class="fa fa-eye"></i> Watch Now</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <article class="card">
                    <header class="title-header">
                        <h3>Movie Title</h3>
                    </header>
                    <div class="card-block">
                        <div class="img-card">
                            <img src="https://placehold.it/300x250&text=Movie" alt="Movie" class="w-100" />
                        </div>
                        <p class="tagline card-text text-xs-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="#" class="btn btn-primary btn-block"><i class="fa fa-eye"></i> Watch Now</a>
                    </div>
                </article>
            </div>
        </div>
    </section>
</main>
<footer class="footer text-muted text-xs-center text-md-left bg-inverse">
    <div class="container">
        <ul class="footer-links">
            <li><a href="#">Contact</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">DMCA</a></li>
        </ul>
        <p>&copy 2016 - All rights reserved.</p>
    </div>
</footer>